.mini-circle{
  border-radius: 50%;
  width: 150px;
  height: 150px; 
  text-align: center;
  vertical-align: center;
  margin: 50px 10px 10px 10px;

  /* width and height can be anything, as long as they're equal */
}

div.mini-circle > h3 {
  vertical-align: center;
  text-align: center;
  padding: 25px 0px 0px 0px;
}

.description {
  vertical-align: center;
  padding: 45px 10px 0px 10px;
}